.appointment {
    background-image: url('../../assets//appointment.png');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* padding-top: 600px; */
}

.appointment-form {
    display: flex;
    justify-content: left;
}

@media only screen and (max-width: 968px) {
    .appointment{
        padding: 5%;
    }
    .appointment-form {
        justify-content: center;
    }


    .appointment-form {
        display: flex;
        justify-content: center;
        /* width: 400px; */
    }


}