.choose {
    display: flex;
    justify-content: center;
    /* margin-top: 5%; */
}


.choose-content-info {
    display: flex;
    justify-content: center;
}

.choose-cards-content {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
    margin-left: 0;
    margin-right: 0;
    gap: 40px;
}

.choose-paragraph h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 968px) {

    .choose-content-info h2 {
        width: 254px;
        text-align: center;
    }

   
    .choose-cards {
        display: flex;
        justify-content: center;
        
    }
    .choose-cards-content {
      
        flex-direction: column;
       
    }
}