.choose {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.choose-paragraph {
    display: flex;
    justify-content: center;
}

 .choose-cards {
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
    
 }


