.choose {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


.choose-content-info {
    display: flex;
    justify-content: center;
}

 .choose-cards {
    display: flex;
    flex-direction: row;
    margin-top: 6vh;
    
 }


 @media only screen and (max-width: 968px){
 
    .choose-content-info h2{
     width: 254px;
     text-align: center;
    }
    .choose-cards{
        flex-direction: column;
        gap: 20px;
    }
 }