@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





@media only screen and (max-width: 768px){
    .home-form {
        margin-left: 0;
    }
} 

.form-layout{
    max-width: 330px;
    max-height: 619px;
    background-color: #FFF;
    border-radius: 10px;
    padding-top: 50px;
    gap: 40px;
    padding: 40px;
}

.home-form-title{
    font-family: "Montserrat" ,sans-serif;

    margin-top: 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #252B42;
    
}

.form-layout form {
    display: flex;
    justify-content: center;
}

.form-content {
    display: flex;
    flex-direction: column;
}

.form-content  label {
    width: 50px;
    height: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
     line-height: 24px;
    letter-spacing: 0.2px;
     color: #252B42;
     margin-top: 11px;
}

.form-content  input {
  width: 245px;
  height: 28px;
  margin-top: 20px;
  margin-bottom: 7px;
  margin-left: 2.5px;
  border-radius: 5px;
  border: 1px solid  #BDBDBD;
  background-color: #F9F9F9;
   padding: 11px 0 11px 21px;
}

.form-content select {
    width: 268px;
    height: 50px;
    margin-top: 23px;
    margin-left: -0.5px;
    border-radius: 5px;
    border: 1px solid  #BDBDBD;
    background-color: #F9F9F9;
   padding: 11px 0 11px 21px;
   

}


.form-content  input::placeholder , .form-content select{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    
}

.form-content  input:focus , .form-content select:focus{
    outline: none;
}

.home-form-btn {
    width: 268px;
    height: 58px;
    border: none;
    border-radius: 5px;
    margin-top: 36px;
    padding: 15px, 40px, 15px, 40px;
    gap: 10px;
    background-color: #FFA62B;
    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.toast-msg{
    color: red;
}

.success-msg{
 color: green
}
.toast-messages{
    height: 15px;
}

.toast-msg ,.success-msg{
    font-family: "Montserrat", sans-serif;

}

@media only screen and (max-width: 355px) {
    .form-layout{
        padding: 0;
    }
}