
.provide {
    padding-top: 3%;
    background-color: #fafafa;
}

.provide h2 {
    margin-bottom: 20px;
}
.provide-video{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.provide-video  video{
 margin-bottom: -350px;
    
}


.provide-bg{ 
    max-width: 100%;
    height: 407px;
    background-color: #16697A;
}



@media only screen and (max-width: 968px) {
   .provide{
    margin-top: 130px;
   }
    .provide-video{
        margin-top: 7%;
      
    }

   
    .provide-video video{
     max-width: 306px;
   
    margin-bottom: -200px;
     /* margin-bottom: -50px; */
     
    
    }

 
    .provide-bg{
        height: 210px;  
    }


}