.copyright {
    max-width: 100%;
    overflow: hidden;
    background-color: #16697a;
}

.copyright-content {
    width: 80%;
   height: 74px;
    margin: 0 auto;
    /* Center the container horizontally */
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.copyright-content h6 {
    text-align: left;
    margin-top: 20px;
    width: 368px;
    height: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff;
    position: relative;

}

@media only screen and (max-width: 968px) {

  
.copyright-content {
    display: flex;
    justify-content: center;
    /* padding: 15px; */
}

    .copyright-content h6 {
        margin-top: 7px;
       
        width: 221px;
        /* height: 58px; */
        text-align: center;

    }
}