.copyright{
    max-width: 100%;
    max-height: 74px;
  
    overflow: hidden;
    background-color: #16697a;
}
.copyright h6{
    margin-top: 10px;
    width: 368px;
    font-family: "Montserrat" sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #ffffff;
    position: relative;
    
}

@media only screen and (max-width: 968px) {
.copyright-content{
   display: flex;
   justify-content: center;

    }

    .copyright h6{
        margin-top: 5px;
        width: 221px;
        height: 48px;
        text-align: center;
      
    }
}