.consulting-data h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252b42;
    margin-bottom: 0;
    margin-top: 0;
}

.consulting-data p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}


.consulting {
    display: flex;
    justify-content: space-between;
}

.consulting-btn  button{
    width: 160px;
    height: 58px;
    border-radius: 5px;
    gap: 10px;
    background-color: #ffa62b;

    /* btn text */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;

}

@media only screen and (max-width: 968px) {
.consulting{
display: flex;
flex-direction: column;
justify-content: center;
}


.consulting-data{
 display: flex;
 justify-content: center;
}
.consulting-data h3 , .consulting-data p{
    text-align: left;

} 
.consulting-btn {
    margin-top: 30px;
}

.consulting-data h3{
    width: 245px;
    height: 64px;
}
.consulting-data p{
    width: 184px;
    height: 40px;
}
.consulting-btn {
    display: flex;
    justify-content: center;
}
.consulting-btn  button{
    width: 283px;
    height: 58px;
}
}