.team-card {
    width: 328px;
    height: 373px;
    border: 1px solid #eeeeee;
}

.team-card-content{
    display: flex;
    flex-direction: column !important;
}
.team-card-name {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-bottom: 10px;
}

.team-card-position {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;

}

.team-card-position,
.team-card-name {
    font-family: "Montserrat" sans-serif;
    text-align: center;
    line-height: 24px;

     
}

.card-social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10PX;
}

.social-item {
    width: 24px;
    height: 24px;
    color: #00A0C1;
}