.header-general {
    background-image: url("../../assets/4654e9d3c9c505537d31266e6d612eb5.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:unset;
 
}


@media only screen and (max-width: 968px) {
    .header-general{
        background-image: none;
      
    }
}