@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.navbar-general {
  display: flex;
  justify-content: space-between;
  margin-left: 15%;
  margin-right: 12%;
  

}

.navbar-general h1 {
  margin: 0;

}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.navbar-items {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.brand-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;

}

.navbar {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 30%;

}

.brand-name {
  margin-top: 40px;
  text-align: left;

}

.navbar-items {
  gap: 7px;
}

.navbar-toggler {
  cursor: pointer;
  display: none;
  margin-top: -7px;
  margin-left: 7px;
}

.navbar a,
.navbar-mobile-list li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
  margin-left: 15px;
  cursor: pointer;
}



  .navbar-mobile-list li a:hover {
    opacity: 0.6;
  }


.navbar a.active {}

.navbar-mobile {
  background-color: #fff;

  justify-content: center;
  display: none;
}

.navbar-mobile-list {
  background-color: #fff;
  list-style-type: none;
  display: none;
  gap: 20px;
}


@media only screen and (max-width: 968px) {
  .navbar-list {
    display: none;
  }

  .navbar-mobile {
    display: flex;
  }
  .navbar-items a {
    font-size:25px;
  }

  
  .navbar-mobile-list {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggler {
    display: block;
    width: 25px;
  }

  .navbar-general {
    justify-content: space-evenly;
  }

  .navbar-general {
    margin-bottom: 5%;
  }

  .navbar-mobile-list li a {
    font-size: 24px;
  }
}