.contact-form-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}

.contact-form-content h2 {
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin-top: 0;
}

.contact-form-title,
.contact-form-content h2 {
    text-align: left;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #252b42;

}
.contact-form-content br{
display: none;
}
.contact-form-content {
    width: 602px;
    height: 579px;
    border-radius: 10px;
    gap: 40px;
    padding: 40px 0 40px 0px;
}

.name-email,
.department-time {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.department-time {
    margin-top: 5%;
}

.name-email input{
    width: 286px;
}
.name-email input,
.department-time select {

    height: 50px;
    padding-left: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #bdbdbd;
}



.name-email input::placeholder,
.department-time select,
.contact-form-items textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #bdbdbd
}

.name-email input:focus,
.department-time select:focus {
    outline: none;
}

.contact-form-items textarea {
    margin-top: 5%;
    padding: 10px;
    width: 578px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    background-color: #F9F9F9;
}

.contact-btn input{
    margin-top: 30px;
    width: 218px;
    height: 58px;
    border-radius: 5px;
    /* padding: 15px 40px 15px 40px; */
    gap: 10px;
    border: none;
    background-color: #ffa62b;

    /* BTN TEXT */

    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.select-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 306px;
    

}


.select-wrapper select {
    border: unset;
    height: 54px !important;
    /* Style */
    width: 100%;
    max-width: 400px;
    padding: 0.75rem;
    border: 1px solid #ccc;
  
    /* Arrow */
    appearance: none;
    background-image: url("../../assets/52-520060_free-png-download-down-arrow-grey-png-images.png");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
    cursor:pointer
}

@media only screen and (max-width: 968px) {
    .contact-form-content {
  
        display: flex;
        flex-direction: column;
         gap: 20px

    }
    .contact-form-general {
        display: flex;
        justify-content: center;

    }
    .name-email , .department-time{
        display: flex;
        flex-direction: column;
    }
  
    .contact-btn {
        display: flex;
        justify-content: center;
    }

    .contact-btn input {
        width: 286px;
    }
    .contact-form-items textarea {
        width: 286px;
    }
    .contact-form-content br{
        display: block;
        }

        .contact-titles {
            display: flex;
            justify-content: center;
            margin-right: 50px;
        }
}