@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
 
 :root {

}

body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
 html {
  margin: 0;
  padding: 0;
 }

  .container {
    width: 80%; /* Set the width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 50px 0px 50px 0px; /* Add padding inside the container */
    box-sizing: border-box; /* Include padding and border in the width */
}

.title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700px;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.text{
  font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #737373;
font-family: "Montserrat", sans-serif;
text-align: center;
letter-spacing: 0.2px;
}

