.client {
    background-color: #f3f3f3;
}

.client-test{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.client-cards {
    display: flex;
    justify-content: center;
  
}


@media only screen and (max-width: 968px) {
 
.client-test{
  flex-direction: column; 
}

.client{
    display: flex;
    justify-content: center;
}
}